menu "Project configuration"
    config ESP_WIFI_SSID
        string "Wi-Fi SSID"
        default "myssid"
        help
            Wi-Fi network name to connect to.
    
    config ESP_WIFI_PASS
        string "Wi-Fi Password"
        default "mypass"
        help
            Wi-Fi password to use.

    config ESP_TELEGRAM_BOT_TOKEN
        string "Telegram bot token"
        default "mytoken"
        help
            Telegram bot token for the bot to use.

    config ESP_TELEGRAM_CHAT_ID
        string "Telegram chat ID"
        default "123456"
        help
            Telegram chat ID for the bot to send messages to.
endmenu